<div class=" content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-chart card-suite">
        <div class="card-header divider">
          <div class="row">
            <div class="col-4">
              <div class="d-flex flex-row align-items-center">
                <!-- <div class=" d-flex align-items-center">
                  <app-mode-img src="/assets/img/dark-alarm@2x.png" whiteSrc="/assets/img/alarm@2x.png" width="25px">
                  </app-mode-img>
                </div> -->
                <div class="p-2 ">
                  <h1 class="mb-0 text-uppercase font-weight-bold">Users Detail</h1>
                </div>
              </div>
            </div>
            <div class="col-8 my-auto text-right">
              <button (click)="openNewUser()" class="btn btn-primary text-center font-weight-bold rounded-pill"><i
                  class="fa fa-plus pr-2"></i>Add
                new</button>
            </div>
          </div>
        </div>
        <div class=" card-body px-0">
          <div class="table-responsive table-full-width" style="overflow: auto;padding-bottom: 1px;">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr class="header-text bg-grey-dark">
                  <th class="text-center">#</th>
                  <th>Name</th>
                  <th>Date of birth</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Hourly Rate</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr [ngClass]="{'even': i%2 != 0}" *ngFor="let user of users$ | async; let i = index">
                  <td class="text-center">{{i + 1}}</td>
                  <td>{{user?.name}}</td>
                  <td>{{user?.dob}}</td>
                  <td>{{user?.email}}</td>
                  <td>{{user?.gender == 1 ? 'Male' : 'Female'}}</td>
                  <td>${{user?.rate}}</td>
                  <td>
                    <i class="fa fa-edit mx-1 text-green cursor-pointer" (click)="openEditUser(user)"></i>
                    <i class="fa fa-trash mx-2 text-red cursor-pointer" (click)="deleteUser(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
