<div class="bg-dark">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="jobForm">
      <div class="row">
        <div class="col-12 form-group">
          <input type="text" class="form-control" placeholder="Job title" formControlName="title">
          <div *ngIf="formCtrl.title.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="formCtrl.title.errors.required && (formCtrl.title.dirty || formCtrl.title.touched)">Job title is required field</div>
          </div>
        </div>
    
        <div class="col-12 form-group">
          <input type="text" class="form-control" placeholder="Description" formControlName="description">
          <div *ngIf="formCtrl.description.errors" class="invalid-feedback d-block text-left">
            <div *ngIf="formCtrl.description.errors.required && (formCtrl.description.dirty || formCtrl.description.touched)">Description is required field</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  <button type="submit" [disabled]="jobForm.invalid" class="btn btn-light w-100" (click)="submitForm()">{{buttonText}}</button>
  </div>

</div>
