.nav-item{
    margin-bottom: 50px;
    .icon{
        width: 30px;
        height: 30px;
        // background-repeat: no-repeat;
        // &.icon-menu-1{
        //     background-image: url('/assets/img/menu-1.png');
        // }
        // &.icon-menu-2{
        //     background-image: url('/assets/img/menu-2.png');
        // }
        // &.icon-menu-3{
        //     background-image: url('/assets/img/menu-3.png');
        // }
    }
}
